---
layout: page
title: "Resume"
description: "我是LQ,我为我带盐."
header-img: "img/about-me-bg.jpg"
---

<link rel="stylesheet" href="{{ "/css/yue.css" | prepend: site.baseurl }}">
<style type="text/css">
    
    .content {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        word-break: break-all;
    }

</style>

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<!--copied from markdown -->
<div class="zh post-container">
<div class="content yue ng-scope ng-isolate-scope" id="cvcontent" >
<div class="resume_content ng-scope"><hr>

<h1 id="">联系方式</h1>

<ul>
<li>手机：13347212566</li>
<li>Email：qiang.luis@gmail.com</li>
<li>QQ：932830768</li>
</ul>

<hr>

<h1 id="">个人信息</h1>

<ul>
<li>刘强/男/1992 </li>
<li>硕士/湖南大学软件工程系 </li>
<li>工作年限：应届生</li>
<li>博客：https://qiangluis.github.io)</li>
<li>Github: https://github.com/qiangluis</li>
<li>期望职位：Java程序员，PHP工程师，大数据工程师</li>
<li>期望薪资：税前月薪15k~20k，特别喜欢的公司可例外</li>
<li>期望城市：上海，深圳，杭州</li>
</ul>

<hr>

<h1 id="">实习经历</h1>

<h2 id="201611t20175">北京搜狐互联网信息服务有限公司 （ 2016年11月 ~ 2017年5月 ）</h2>

<h3 id="def">DEF项目</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="ghi">GHI项目</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="">其他项目</h3>

<p>（每个公司写2~3个核心项目就好了，如果你有非常大量的项目，那么按分类进行合并，每一类选一个典型写出来。其他的一笔带过即可。）</p>

<h2 id="jkl20103t20128">JKL公司 （ 2010年3月 ~ 2012年8月 ）</h2>

<h3 id="mno">MNO项目</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="pqr">PQR项目</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="">其他项目</h3>

<p>（每个公司写2~3个核心项目就好了，如果你有非常大量的项目，那么按分类进行合并，每一类选一个典型写出来。其他的一笔带过即可。）</p>

<hr>

<h1 id="">开源项目和作品</h1>

<p>（这一段用于放置工作以外的、可证明你的能力的材料）</p>

<h2 id="">开源项目</h2>

<p>（对于程序员来讲，没有什么比Show me the code能有说服力了）</p>

<ul>
<li><a href="http://github.com/yourname/projectname">STU</a> : 项目的简要说明，Star和Fork数多的可以注明</li>
<li><a href="http://github.com/yourname/projectname">WXYZ</a> : 项目的简要说明，Star和Fork数多的可以注明</li>
</ul>

<h2 id="">技术文章</h2>

<p>（挑选你写作或翻译的技术文章，好的文章可以从侧面证实你的表达和沟通能力，也帮助招聘方更了解你）</p>

<ul>
<li><a href="http://get.jobdeer.com/706.get">一个产品经理眼中的云计算：前生今世和未来</a></li>
<li><a href="http://get.jobdeer.com/343.get">来自HeroKu的HTTP API 设计指南(翻译文章)</a> （ <code>好的翻译文章可以侧证你对英文技术文档的阅读能力</code>）</li>
</ul>

<h2 id="">演讲和讲义</h2>

<p>（放置你代表公司在一些技术会议上做过的演讲，以及你在公司分享时制作的讲义）</p>

<ul>
<li>2014架构师大会演讲：<a href="http://jobdeer.com">如何通过Docker优化内部开发</a>
<ul><li>9月公司内部分享：<a href="http://jobdeer.com">云计算的前生今世</a></li></ul></li>
</ul>

<h1 id="">技能清单</h1>

<p>（我一般主张将技能清单写入到工作经历里边去。不过很难完整，所以有这么一段也不错）</p>

<p>以下均为我熟练使用的技能</p>

<ul>
<li>Web开发：PHP/Hack/Node</li>
<li>Web框架：ThinkPHP/Yaf/Yii/Lavaral/LazyPHP</li>
<li>前端框架：Bootstrap/AngularJS/EmberJS/HTML5/Cocos2dJS/ionic</li>
<li>前端工具：Bower/Gulp/SaSS/LeSS/PhoneGap</li>
<li>数据库相关：MySQL/PgSQL/PDO/SQLite</li>
<li>版本管理、文档和自动化部署工具：Svn/Git/PHPDoc/Phing/Composer</li>
<li>单元测试：PHPUnit/SimpleTest/Qunit</li>
<li>云和开放平台：SAE/BAE/AWS/微博开放平台/微信应用开发</li>
</ul>

<h2 id="">参考技能关键字</h2>

<p>本技能关键字列表是从最近招聘Java的数百份JD中统计出来的，括号中是出现的词频。如果你的简历要投递给有机器（简历分选系统）和不如机器（不懂技术的HR）筛选简历环节的地方，请一定从下边高频关键词中选择5～10个适合你自己的。</p>

<ul>
<li>java(730)</li>
<li>spring(305)</li>
<li>web(260)</li>
<li>mysql(250)</li>
<li>oracle(207)</li>
<li>linux(198)</li>
<li>j2ee(182)</li>
<li>javascript(177)</li>
<li>sql(176)</li>
<li>hibernate(169)</li>
<li>html(139)</li>
<li>tomcat(132)</li>
<li>struts(128)</li>
<li>jquery(116)</li>
<li>jsp(106)</li>
<li>ajax(96)</li>
<li>css(94)</li>
<li>ibatis(84)</li>
<li>mvc(77)</li>
<li>servlet(71)</li>
<li>xml(70)</li>
<li>js(62)</li>
<li>eclipse(51)</li>
<li>mybatis(51)</li>
<li>jboss(47)</li>
<li>struts2(47)</li>
<li>weblogic(46)</li>
<li>redis(46)</li>
<li>apache(45)</li>
<li>http(44)</li>
<li>shell(39)</li>
<li>python(38)</li>
<li>hadoop(37)</li>
<li>nosql(35)</li>
<li>ssh(35)</li>
<li>sqlserver(33)</li>
<li>mongodb(33)</li>
<li>svn(32)</li>
<li>uml(32)</li>
<li>json(27)</li>
<li>unix(27)</li>
<li>maven(27)</li>
<li>nginx(26)</li>
<li>webservice(25)</li>
<li>jdbc(24)</li>
<li>memcached(23)</li>
<li>tcp(22)</li>
<li>resin(22)</li>
<li>jvm(21)</li>
<li>socket(21)</li>
<li>db2(19)</li>
<li>springmvc(19)</li>
<li>websphere(16)</li>
<li>soa(16)</li>
<li>mina(14)</li>
<li>android(14)</li>
<li>extjs(13)</li>
<li>erp(12)</li>
<li>memcache(12)</li>
<li>api(11)</li>
<li>jetty(11)</li>
<li>myeclipse(11)</li>
<li>ext(10)</li>
<li>git(10)</li>
<li>jpa(10)</li>
<li>svm(9)</li>
<li>php(9)</li>
<li>jms(9)</li>
<li>ruby(9)</li>
<li>lucene(8)</li>
<li>html5(8)</li>
<li>postgresql(8)</li>
<li>crm(7)</li>
<li>javaee(7)</li>
<li>sybase(7)</li>
<li>freemarker(6)</li>
<li>cache(6)</li>
<li>jsf(6)</li>
<li>j2se(6)</li>
<li>jbpm(6)</li>
<li>cvs(6)</li>
<li>junit(6)</li>
<li>visio(6)</li>
<li>netty(6)</li>
<li>hbase(6)</li>
<li>nio(6)</li>
<li>powerdesigner(6)</li>
<li>oo(6)</li>
<li>aop(6)</li>
<li>workflow(5)</li>
<li>restful(5)</li>
<li>ios(5)</li>
<li>ant(5)</li>
<li>mssql(5)</li>
<li>orm(5)</li>
<li>rose(5)</li>
<li>solr(5)</li>
<li>webwork(5)</li>
<li>zookeeper(4)</li>
<li>soap(4)</li>
<li>o2o(4)</li>
<li>wap(4)</li>
<li>cxf(4)</li>
<li>thrift(4)</li>
<li>xmpp(3)</li>
<li>p2p(3)</li>
<li>javabean(3)</li>
<li>jee(3)</li>
<li>hdfs(3)</li>
<li>dom(3)</li>
<li>hibernate3(3)</li>
</ul>

<hr>

<h1 id="">致谢</h1>

<p>感谢您花时间阅读我的简历，期待能有机会和您共事。</p></div></div>

</div>

<!-- English Version -->
<div class="en post-container">
   
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.changyan_username %}
<!-- 畅言评论框 start -->
<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cysEoohdy'; 
var conf = 'prod_fa9d30c1ce139db324dd43883f0f1ad0'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!-- 畅言公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
