---
layout: page
title: "Resume"
description: "我是LQ,我为我带盐."
header-img: "img/about-me-bg.jpg"
---

<link rel="stylesheet" href="{{ "/css/yue.css" | prepend: site.baseurl }}">
<style type="text/css">
    
    .content {
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        word-break: break-all;
    }

</style>

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<!--copied from markdown -->
<div class="zh post-container">
<div class="content yue ng-scope ng-isolate-scope" id="cvcontent" >
    <div class="resume_content ng-scope"><hr>

<h1 id="">联系方式</h1>

<ul>
<li>手机：13347212566</li>
<li>Email：qiang.luis@gmail.com</li>
<li>QQ：932830768</li>
</ul>

<hr>

<h1 id="">个人信息</h1>

<ul>
<li>刘强/男/1992 </li>
<li>硕士/湖南大学软件工程系 </li>
<li>工作年限：应届生</li>
<li>博客：https://qiangluis.github.io)</li>
<li>Github: https://github.com/qiangluis</li>
<li>期望职位：Java程序员，PHP工程师，大数据工程师</li>
<li>期望薪资：税前月薪15k~20k，特别喜欢的公司可例外</li>
<li>期望城市：上海，深圳，杭州</li>
</ul>

<hr>

<h1 id="">实习经历</h1>

<h2 id="201611t20175">北京搜狐互联网信息服务有限公司 （ 2016年11月 ~ 2017年5月 ）</h2>

<h3 id="">统计项目</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="">快站后台</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h3 id="">打包系统</h3>

<p>（每个公司写2~3个核心项目就好了，如果你有非常大量的项目，那么按分类进行合并，每一类选一个典型写出来。其他的一笔带过即可。）</p>

<h2 id="20167t20169">深圳市好东西科技有限公司 （ 2016年7月 ~ 2016年9月 ）</h2>

<h3 id="">企业微信公众号开发</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<h2 id="20157t20159">深圳市绿银科技有限公司 （ 2015年7月 ~ 2015年9月 ）</h2>

<h3 id="web">企业web项目开发</h3>

<p>我在此项目负责了哪些工作，分别在哪些地方做得出色/和别人不一样/成长快，这个项目中，我最困难的问题是什么，我采取了什么措施，最后结果如何。这个项目中，我最自豪的技术细节是什么，为什么，实施前和实施后的数据对比如何，同事和领导对此的反应如何。</p>

<hr>

<h1 id="">项目经历</h1>

<h3 id="201612t20174">湖南交通厅地图采集系统 （2016.12~2017.4）</h3>

<p>参与长沙矩阵文化传播有限公司的增强现实（AR）旅游项目，该项目采用easyAR作为AR App开发平台，支持unity3D，后台采用Web Service技术。本人负责的工作有：1利用SpringMVC+Mybatis+Mysql搭建系统后台，主要功能为修改景点信息和景点附件以及动画等资源；2 负责全部后台Web Service的实现，整合Axis2 SOAP引擎编写手机APP调用接口，集成了WS安全认证框架。</p>

<h3 id="ar20168t201610">增强现实（AR）旅游项目 （2016.8~2016.10）</h3>

<p>参与长沙矩阵文化传播有限公司的增强现实（AR）旅游项目，该项目采用easyAR作为AR App开发平台，支持unity3D，后台采用Web Service技术。本人负责的工作有：1利用SpringMVC+Mybatis+Mysql搭建系统后台，主要功能为修改景点信息和景点附件以及动画等资源；2 负责全部后台Web Service的实现，整合Axis2 SOAP引擎编写手机APP调用接口，集成了WS安全认证框架。</p>

<h3 id="20161t20165">湖南湘江新区土地储备管理系统 （2016.1~2016.5）</h3>

<p>该项目前端采用EXTJS技术，后台采用SpringMVC+Spring+Mybatis框架技术。本人负责部分前台和后台部分功能开发。目前该项目已经交付给长沙市湘江新区土地储备局使用。</p>

<h3 id="201510t20163">湖南大学纳米研究所产品管理系统 （2015.10~2016.3）</h3>

<p>主要功能有研究所日常试剂仪器等产品管理、学生导师用户管理、产品预约管理、导师审核管理。所使用的前端技术为Bootstrap框架技术，后台数据使用PHP语言开发，基于CI框架。本人负责独立负责该项目的所有开发工作。目前该项目已经交付给湖南大学纳米研究所使用。</p>

<h3 id="20157t201511">湖南耀文发制品商贸有限公司外贸系统 （2015.7~2015.11）</h3>

<p>湖南耀文发制品商贸有限公司外贸系统：主要功能有商品管理、用户管理、订单管理、运费管理、SEO管理、博客管理、数据统计可视化、第三方登录等。系统前端使用Bootstrap响应式框架，对手机端和平板端进行了设计，后台处理采用PHP语言开发。本人负责手机端自适应的调整，第三方登录(facebook和google)功能的开发以及博客模块的开发。目前该项目已正常运营。</p>

<hr>

<h1 id="">开源项目和作品</h1>

<p>（这一段用于放置工作以外的、可证明你的能力的材料）</p>

<h2 id="">开源项目</h2>

<p>（对于程序员来讲，没有什么比Show me the code能有说服力了）</p>

<ul>
<li><a href="http://github.com/yourname/projectname">STU</a> : 项目的简要说明，Star和Fork数多的可以注明</li>
<li><a href="http://github.com/yourname/projectname">WXYZ</a> : 项目的简要说明，Star和Fork数多的可以注明</li>
</ul>

<h2 id="">技术文章</h2>

<p>（挑选你写作或翻译的技术文章，好的文章可以从侧面证实你的表达和沟通能力，也帮助招聘方更了解你）</p>

<ul>
<li><a href="http://get.jobdeer.com/706.get">一个产品经理眼中的云计算：前生今世和未来</a></li>
<li><a href="http://get.jobdeer.com/343.get">来自HeroKu的HTTP API 设计指南(翻译文章)</a> （ <code>好的翻译文章可以侧证你对英文技术文档的阅读能力</code>）</li>
</ul>

<h1 id="">技能清单</h1>

<p>以下均为我使用过的技能</p>

<ul>
<li>Web开发：PHP/HTML5/CSS/Js/JAVA</li>
<li>Web框架：CodeIgniter/Spring/ThinkPHP/Mybatis</li>
<li>前端框架：Bootstrap/BackboneJS/EXTJs</li>
<li>前端工具：Bower/Grunt/LeSS</li>
<li>数据库相关：MySQL/Oracle/SQL Server/Monogodb/redis</li>
<li>大数据：Hadoop/Spark/</li>
<li>版本管理、文档和自动化部署工具：Svn/Git/Composer</li>
<li>云和开放平台：阿里云/微信应用开发</li>
<li>熟悉Linux操作系统的使用以及相关命令；</li>
</ul>

<h2 id="">参考技能关键字</h2>

<ul>
<li>java</li>
<li>spring</li>
<li>web</li>
<li>mysql</li>
<li>linux</li>
<li>mvc</li>
<li>hadoop</li>
<li>mongodb</li>
<li>maven</li>
<li>springmvc</li>
<li>extjs</li>
<li>git</li>
<li>php</li>
<li>html5</li>
<li>spark</li>
<li>css</li>
<li>jQuery</li>
</ul>

<hr>

<h1 id="">致谢</h1>

<p>感谢您花时间阅读我的简历，期待能有机会和您共事。</p></div>
</div>

</div>

<!-- English Version -->
<div class="en post-container">
   
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.changyan_username %}
<!-- 畅言评论框 start -->
<!--PC和WAP自适应版-->
<div id="SOHUCS" ></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cysEoohdy'; 
var conf = 'prod_fa9d30c1ce139db324dd43883f0f1ad0'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!-- 畅言公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
